In [ ]:
1.

In [2]:
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
2.

In [4]:
Name=input('Enter Firstname and Lastname seperated by comma:')
Firstname,Lastname=Name.split(',')
Fullname=Firstname.upper()+' '+ Lastname.lower()
print(Fullname)

Enter Firstname and Lastname seperated by comma:Ravi,Srivastava
RAVI srivastava

In [ ]:
3.

In [8]:
my_tuple = ("Jai", 20, "Btech", "Noida")
name, age, qualification, city = my_tuple

print(my_tuple)

if age > 20:
    print("You are qualified")
else:
    print("You are not qualified")

('Jai', 20, 'Btech', 'Noida')
You are not qualified

In [ ]:
4.

In [19]:
username = input("Enter your UserName   ")
password = input("Enter your passWord - ")

a = len(password)

if a < 6:
    print("Password is too short")
    
elif a in range(6,16) :
    print("Password is okay")
    
else:
    print("Password is very long")

Enter your UserName   kishan
Enter your passWord - 123456789012345
Password is okay

In [ ]:
5.

In [23]:
n = int(input("Enter a number :"))

for i in range(1,11):
    print(n," x ",i," = ",n*i)

Enter a number :6
6  x  1  =  6
6  x  2  =  12
6  x  3  =  18
6  x  4  =  24
6  x  5  =  30
6  x  6  =  36
6  x  7  =  42
6  x  8  =  48
6  x  9  =  54
6  x  10  =  60

In [2]:
import NumPy as np

ModuleNotFoundError: No module named 'NumPy'

In [9]:
name = input("Enter half name ")

Enter half name kis

In [10]:
if (name == 'Div'):
    print('Divyanshu')
else:
    print('Not Divyanshu')

Not Divyanshu

In [2]:
import numpy as np

In [3]:
val = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])

new_val = val.reshape(3, -1)

print(new_val.shape)

(3, 4)

In [4]:
val = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])

new_val = val.reshape(-1, 2)

print(new_val.shape)

(6, 2)

In [5]:
val = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

new_val = val.reshape(-1,1)

print(new_val.shape)

(12, 1)

In [6]:
val = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

print(val.reshape(-1,1))

[[ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]
 [11]
 [12]]

In [7]:
val = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

print(val.shape)

(3, 4)